[data-action],
[data-field] {
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
}
/* [data-field="prefect"] {
 display: flex;
  align-items: center;
  justify-content: center; 
} */
[data-action="remove"] {
  background-color: orange;
}
/* * {
  color: orange;
} */
body {
  background-color: rgb(56, 56, 56);
}
h1 {
  font-size: 5rem;
  font-family: "Shizuru", cursive;
  color: orange;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}

nav p,
button {
  color: orange;
}

li {
  list-style: none;
  font-size: 1.1rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
}
button {
  background-color: rgb(41, 41, 41);
}
thead,
input,
button:hover:not([data-action="remove"]) {
  background-color: rgb(15, 15, 15);
}

img {
  padding: 1rem 0;
}

table {
  margin: 0 auto;
}
/* [data-field="status"] {
  padding-right: 3rem;
} */

th {
  color: rgb(47, 192, 47);
  padding: 5px 10px;
  /* width: 100px; */
}
th:hover {
  color: rgb(148, 253, 148);
}

td.popup {
  text-align: center;
}
/* 
tbody tr {
  color: rgb(0, 0, 0);
} */

tbody tr:hover {
  color: orange;
  outline: 2px solid orange;
  border-radius: 25px;
}
#studentPopUp,
#onlytwoprefects,
#onlyonekind {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* pointer-events: none; */
}

#studentPopUp .content,
#onlytwoprefects .dialogcontent {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  border-radius: 25px;
  background-color: #cc1c16;
}
button.closebutton {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
}

#studentPopUp.hidden,
#onlytwoprefects.hidden,
#onlyonekind.hidden {
  display: none;
}

.dialogcontent {
  background-color: salmon;
}

.flex {
  display: flex;
  gap: 2px;
}

.grid {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
}

/****** PREFECT ******/
/* [data-field="prefect"][data-winner="false"] {
  filter: grayscale(100%);
  cursor: pointer;
} */

td[data-field="prefect"]::after {
  content: "📛";
  display: block;
  width: fit-content;
  margin: 0 auto;
}

td[data-field="prefect"][data-prefect="false"]::after {
  content: "📛";
  filter: grayscale(1);
}
