[data-action],
[data-field] {
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
}

[data-action="remove"] {
  background-color: orange;
  display: block;
  margin: 0 auto;
  width: fit-content;
  border-radius: 5px;

  padding: 0.5rem 1rem;
}

body {
  background-color: #f8f8f8;
  background-color: black;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Fredoka", sans-serif;
  color: orange;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
}

h2 {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
nav {
  text-align: center;
  margin: 2rem;
}

nav button {
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

input {
  padding: 0.7rem 1rem;
  width: 300px;
  border: none;
  border-radius: 5px;
}
main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
aside {
  display: flex;
  flex-direction: column;
  width: 200px;
  width: fit-content;
}

table {
  background-color: #ffffff;
}

nav p,
button {
  color: orange;
}

button[data-action="remove"],
#squad p,
#studentPopUp p {
  list-style: none;
  font-size: 1.1rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.1;
}
button {
  background-color: black;
  font-size: 1rem;
  border: none;
  padding: 0.2rem 0.5rem;
}

nav button,
aside button {
  padding: 1.5rem;
}
thead,
button:hover:not([data-action="remove"]) {
  background-color: #e5e5f2;
}

img {
  padding: 1rem 0;
}

th {
  color: #1d1d42;
  padding: 5px 10px;
  width: 100px;
}
th:hover {
  color: orange;
}

td.popup {
  text-align: center;
}

tbody tr {
  font-size: 1.1rem;
  text-align: center;
}

#squad,
#studentPopUp,
#onlytwoprefects,
#onlyonekind {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* pointer-events: none; */
  background-color: rgba(75, 75, 75, 0.63);
}
#squad {
  background-color: rgba(75, 75, 75, 0.63);
}

#squad .message,
#studentPopUp .content,
#onlytwoprefects .dialogcontent {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  border-radius: 25px;
  background-color: #e5c3c2;
  background-color: #fff;
  border: 5px solid black;
}

#studentPopUp .content {
  background-color: rgb(17, 17, 17);
  padding: 2rem;
  color: white;
  outline: 5px solid orange;
}
button.closeButton,
button.closebutton {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
}
#squad.hidden,
#studentPopUp.hidden,
#onlytwoprefects.hidden,
#onlyonekind.hidden {
  display: none;
}

.flex {
  display: flex;
  gap: 2px;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 2rem;
}

#studentPopUp img {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

/****** PREFECT ******/

td[data-field="prefect"]::after {
  content: "📛";
  display: block;
  width: fit-content;
  margin: 0 auto;
  transform: scale(1.5);
}

td[data-field="prefect"][data-prefect="false"]::after {
  content: "📛";
  filter: grayscale(1);
  transform: scale(1.5);
}

td[data-field="squad"]::after {
  content: "🎖️";
  display: block;
  width: fit-content;
  margin: 0 auto;
  transform: scale(1.5);
}

td[data-field="squad"][data-squad="false"]::after {
  content: "🎖️";
  filter: grayscale(1);
  transform: scale(1.5);
}

.color1,
.color2 {
  width: 50px;
  height: 50px;
  background-color: black;
}

p.house {
  font-family: "Fredoka";
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

/* MEDIA QUERIES  */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 2rem;
  }
  nav {
    margin: 1rem;
  }
  nav button,
  aside button {
    padding: 10px;
  }
  main {
    display: grid;
  }
  aside {
    flex-direction: row;
  }
  thead tr,
  tbody {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  /* thead tr {
    display: grid;
  } */
  tbody tr {
    display: grid;
    border: 1px solid black;
    padding: 5px;
  }
  th {
    text-align: start;
  }
  td {
    padding: 3px;
  }
}
@media screen and (max-width: 700px) {
  aside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 560px) {
  h1 {
    font-size: 1.8rem;
    padding: 15px;
    margin: 0;
  }
  nav {
    margin: 0;
  }
  nav button,
  aside button {
    padding: 10px;
  }
  main {
    flex-direction: column;
  }
  aside {
    grid-template-columns: 1fr 1fr;
  }
  thead tr {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 360px) {
  input {
    width: 200px;
  }
}
